* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ## Colors */
  /* ### Primary */
  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);

  /* ### Neutral */
  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--Red) !important;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Plus Jakarta Sans", sans-serif;
  width: 90%; /* Ajustar según el diseño deseado */
  max-width: 800px; /* Para que no se expanda demasiado */
  padding: 20px;
  background-color: var(--White);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px; /* Añadir un margen para el espacio alrededor del main */
  flex-grow: 1;
  border-radius: 10px;
}

.main-container {
  width: 100%;
}

.title-notification {
  font-size: 1rem;
  font-weight: 800;
}

.number {
  background-color: var(--Blue);
  color: white;
}

.right-text {
  font-size: 0.8rem;
  color: hsl(219, 14%, 63%);
  font-weight: 600;
}

.right-text:hover {
  color: var(--Blue);
}

.people-container {
  display: flex;
  text-align: start;
  gap: 10px;
  background-color: hsl(210, 60%, 98%);
  padding: 15px;
  border-radius: 10px;
}

.name-notification-post-time-container {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.avatar {
  width: 35px;
  height: 35px;
}

.name-notification {
  padding-bottom: 0;
}

.name {
  font-size: 0.8rem;
  margin-bottom: 0;
  font-weight: 800;
  color: hsl(224, 21%, 14%);
}

.notification {
  color: hsl(219, 12%, 42%);
  font-weight: 500;
  margin-left: 5px;
}

.active {
  background-color: hsl(206, 18%, 92%);
}

.group {
  color: hsl(219, 80%, 38%);
  font-weight: 800;
  margin-left: 5px;
}

.post {
  color: hsl(218, 28%, 38%);
  font-weight: 800;
  margin-left: 5px;
  display: inline-flex;
  align-items: center;
}

.dot {
  background-color: var(--Red);
  color: var(--Red);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  margin-left: 5px;
}

.hour {
  font-size: 0.8rem;
  margin: 0;
  font-weight: 600;
  color: hsl(219, 14%, 63%);
}

.chess {
  width: 35px;
  height: 35px;
}

.comment {
  text-align: start;
  border: hsl(215, 24%, 90%) 1px solid;
  font-size: 0.8rem;
}

.comment:hover {
  background-color: hsl(219, 47%, 88%);
}

.attribution {
  text-align: center;
  font-size: 0.8rem;
  color: white;
  margin-top: auto;
}

@media (max-width: 375px) {
  .main-container {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .main-container {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .main-container {
    padding: 40px;
  }
}
