:root {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* ## Colors */

  /* ### Primary */

  --Red: hsl(1, 90%, 64%);
  --Blue: hsl(219, 85%, 26%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Very-light-grayish-blue: hsl(210, 60%, 98%);
  --Light-grayish-blue-1: hsl(211, 68%, 94%);
  --Light-grayish-blue-2: hsl(205, 33%, 90%);
  --Grayish-blue: hsl(219, 14%, 63%);
  --Dark-grayish-blue: hsl(219, 12%, 42%);
  --Very-dark-blue: hsl(224, 21%, 14%);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}
/* Incluye el padding y el borde dentro del ancho y alto total del elemento */

/* app.css o el archivo CSS que corresponda */

/* Estilos para pantallas pequeñas */
@media (max-width: 375px) {
  .container {
    padding: 0 10px; /* Reduce el padding en pantallas pequeñas */
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 768px) {
  .container {
    padding: 0 20px; /* Aumenta el padding en pantallas medianas */
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1200px) {
  .container {
    padding: 0 40px; /* Aumenta el padding en pantallas grandes */
  }
}

.people-container {
  display: flex;
  text-align: start;
  gap: 10px;
  background-color: hsl(210, 60%, 98%);
  padding: 15px;
}

.name-notification-post-time-container {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.avatar {
  width: 35px;
  height: 35px;
}

.name-notification {
  padding-bottom: 0px;
}

.name {
  font-size: 0.8rem;
  margin-bottom: 0px;
  font-weight: 800;
  color: hsl(224, 21%, 14%);
  text-wrap: nowrap;
}

.notification {
  color: hsl(219, 12%, 42%);
  font-weight: 500;
  margin-left: 5px;
  text-wrap: wrap;
}

.active {
  background-color: hsl(205, 33%, 90%);
}

.group {
  color: hsl(219, 80%, 38%);
  font-weight: 800;
  margin-left: 5px;
}

.post {
  color: hsl(218, 28%, 38%);
  font-weight: 800;
  margin-left: 5px;
}

.hour {
  font-size: 0.8rem;
  margin: 0px;
  font-weight: 600;
  color: hsl(219, 14%, 63%);
}

.chess {
  width: 35px;
  height: 35px;
}

.comment {
  text-align: start;
  border: hsl(215, 24%, 90%) 1px solid;
  font-size: 0.8rem;
}

.comment:hover {
  background-color: hsl(219, 47%, 88%);
}
